<head>
<style>

.post {
	margin-left:7em;
  max-width: 50em;
}
.posttitle {
	border-bottom: 6px solid black;
}
img {
	margin: 10px;
}

</style>
</head>

<body>
	<div class="post">
		<div class="posttitle">
			<h1>오키나와음식, 독특한 먹거리의 향연</h1>
		</div>

<h3>오키나와음식, 독특한 먹거리의 향연</h3>
<img src="https://travelblog.expedia.co.kr/wp-content/uploads/2016/07/01.jpg">
<p>일본 최남단에 위치한 오키나와에는 일본의 다른 지역과는 다른 독특한 먹거리들이 많다. 오키나와의 특산물을 활용한 요리부터 오키나와에서만 만나볼 수 있는 한정 먹거리까지, 오키나와 여행시 꼭 먹어봐야할 음식들을 소개한다.</p>

<img src="https://travelblog.expedia.co.kr/wp-content/uploads/2016/07/2.jpg">
<h3>오키나와와 멕시코의 만남, 타코라이스</h3>
<p>오키나와에는 독특한 퓨전요리들이 많은데, 그 중 대표적인 음식이 바로 타코라이스. 타코라이스는 멕시코의 향토요리인 타코의 주재료를 밥에 얹어 먹는 퓨전 요리로, 오키나와에서는 학교 급식에도 나올 만큼 보편적인 음식이다. 다진고기와 야채, 살사소스를 토핑으로 올려진 반숙 계란과 함께 비벼 먹으면 의외로 조화로운 맛에 놀란다. 아메리칸 빌리지에 위치한 포케팜이 맛집으로 유명하니 방문해보자.</p>

 
<p>
Tip. 타코라이스 맛집 포케팜
위치 : 아메리칸 빌리지 디팟 1층
영업시간 : 오전 11시-오후9시 / 연중무휴
</p>

<img src="https://travelblog.expedia.co.kr/wp-content/uploads/2016/07/8.jpg">
<h3>술 안주로 추천, 고야 참프루</h3>
<p>
참프루는 오키나와 말로 ‘섞다’라는 뜻으로, 쓴 맛을 내는 야채 고야(여주)를 스팸과 두부, 계란을 넣어 볶아낸 음식을 고야 참프루라고 한다. 맛은 약간 쌉싸름하지만 중독성 있으며, 건강에 좋다. 일본에서는 술안주로 먹는 편이며, 오키나와 전통술 ‘아와모리’ 또는 오키나와 지역 맥주인 ‘오리온 맥주’와 곁들여 먹길 추천.</p>

<img src="https://travelblog.expedia.co.kr/wp-content/uploads/2016/07/1.jpg">
<h3>저렴한 한 끼 식사, 오키나와 소바</h3>
<p>
소바라고 하면 메밀로 만든 차가운 면 요리를 연상하게 되지만, 오키나와 소바는 다르다. 칼국수처럼 두꺼운 면발과 따뜻한 육수에 고명으로 차슈를 올리는 오키나와 소바는 우동에 가까운 형태다. 저렴한 가격에 든든하게 배를 채울 수 있는 오키나와 소바는 오키나와 어느 지역에서든 흔하게 맛볼 수 있다.</p>
</div>
</body>