<!DOCTYPE html>
<html>
  <head>
    <title>익스피디아 트래블 블로그 | travelblog.expedia.co.kr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>
  <body>
    <%= yield %>
  </body>
</html>
